<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>App Genrefy | Digi.me SDK Example</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap&subset=latin-ext" rel="stylesheet">
        <link href="css/normalize.css" rel="stylesheet" type="text/css">
        <link href="css/common.css" rel="stylesheet" type="text/css">
        <link href="css/responsive.css" rel="stylesheet" type="text/css">
        <script src="javascript/jquery-3.4.1.min.js" type="text/javascript"></script>
    </head>

    <body>
