<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Digi.me SDK Example</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="/css/common.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div>
            <h1 class="title">Example app for Digi.me javascript SDK</h1>
        </div>