# Logs
logs
*.log
npm-debug.log*
*.log.*

# Dependency directories
node_modules

# Mac related
.DS_Store

# dev
dev
path-to-your.key
examples/ongoing-private-sharing/users.json
**/**/digi-me-private.key