html, body {
    font-family: "Lato", sans-serif;
    background-color: #000;
    color: #FFF;
    height: 100%;
}

.page-header {
    background-color: #000;
    color: #FFF;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 50px;
    color: #FFF;
    background-color: #007AFF;
    padding: 18px 40px;
    text-transform: uppercase;
    font-weight: 600;
}

.genrefy-container a.cta-button {
    text-decoration: none;
    width: 100%;
    width: 100%;
    padding: 18px 0px;
}

.genrefy-results-container .get-new-data a {
    color: #FFF;
}

.genrefy-container .try-again {
    color: #FFF;
    font-weight: 700;
}

.genrefy-container {
    margin: 0 auto;
    display: flex;
    max-width: 575px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.genrefy-results-header {
    display: flex;
    padding-top: 20px;
    text-align: center;
}

.spotify-logo {
    margin-right: 10px;
}

.genrefy-results-list {
    width: 100%;
    padding: 20px 10px;
}

.no-songs-found {
    text-align: center;
    font-size: 30px;
}

.genrefy-results-list .list-top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
    font-family: Sanchez;
    font-style: normal;
    font-weight: normal;
}

.genrefy-results-list .list-top-section .genre-name {
    font-size: 50px;
}

.genrefy-results-list .list-top-section .song-count {
    font-size: 18px;
}

.list-bottom-section.color-1 {
    background: #D71EB9;
}

.list-bottom-section.color-2 {
    background: #20DEDE;
}

.list-bottom-section.color-3 {
    background: #D3D71E;
}

.list-bottom-section.color-4 {
    background: #0FDA48;
}

.list-bottom-section.color-5 {
    background: #1E7ED7;
}

.list-bottom-section.color-6 {
    background: #DE4E20;
}

.list-bottom-section.color-7 {
    background: #861ED7;
}

.list-bottom-section.color-8 {
    background: #DA340F;
}

.list-bottom-section.color-9 {
    background: #BFF22B;
}

.list-bottom-section.color-10 {
    background: #FFEAA0;
}

.list-bottom-section.color-11 {
    background: #FF80CC;
}

.list-bottom-section.color-12 {
    background: #2DEDB3;
}

.genrefy-results-list .list-bottom-section {
    margin-bottom: 20px;
    height: 20px;
}

.genrefy-results-container {
    margin: 0 auto;
    display: flex;
    max-width: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.genrefy-container .genrefy-main-logo {
    max-height: 85px;
    max-width: 300px;
    width: 100%;
    margin-top: auto;
}

.genrefy-container .genrefy-loader {
    max-height: 100px;
    max-width: 100px;
    width: 100%;
}

.genrefy-container .button-wrap {
    margin-top: auto;
    margin-bottom: 20px;
    max-width: 250px;
    width: 100%;
}

.genrefy-container-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
