<%- include("../partials/header") %>

<div class="shop-container">
    <div class="shop-container--left">
        <img height="95" src="images/logo.svg" alt="ACMEShopper Logo" />
    </div>

    <div class="shop-container--right">
        <h2 class="shop-container--title">
            All done!
        </h2>

        <p>
            Your purchase receipt has been sent, please check and sync your digi.me library.
        </p>

        <a class="cta-button" href="<%= actionUrl %>" style="width: 267px">
            Open digi.me
        </a>
    </div>
</div>

<%- include("../partials/footer") %>
