<% include ../partials/header %>

<div class="genrefy-container">
    <img class="genrefy-main-logo" src="images/logo.svg" alt="genrefy logo" />
    <h2 class="genrefy-container-title">
        discover your most listened to music genre on Spotify in the past 24 hours
    </h2>
    <div class="button-wrap">
        <a class="cta-button" href="<%= appUrl %>">PLUG ME IN</a>
    </div>

</div>

<% include ../partials/footer %>
