<%- include("../partials/header") %>

<div class="shop-container">
    <div class="shop-container--left">
        <img height="95" src="images/logo.svg" alt="ACMEShopper Logo" />
    </div>

    <div class="shop-container--right">
        <h2 class="shop-container--title">
            Let's store some data in your digi.me library
        </h2>

        <a class="cta-button" href="<%= actionUrl %>" style="width: 267px">
            Write to digi.me library
        </a>
    </div>
</div>

<%- include("../partials/footer") %>
