<%- include("../partials/header") %>

<div class="shop-container">
    <div class="shop-container--left">
        <img height="95" src="images/logo.svg" alt="ACMEShopper Logo" />
    </div>

    <div class="shop-container--right">
        <h2 class="shop-container--title">
            All done!
        </h2>

        <a class="cta-button" href="<%= readPostbox %>" style="width: 267px">
            Read all data in your digi.me library
        </a>

        <a class="cta-button" id="pushReceipt" href="<%= pushAnotherUrl %>"
            style="width: 267px" onclick="toggle(['pushReceipt', 'loading'])">
            Write another data file to your digi.me library
        </a>

        <p id="loading" style="display: none">
            Writing data. Please wait...
        </p>
    </div>
</div>

<%- include("../partials/footer") %>
