<%- include("../partials/header") %>

<div class="genrefy-container">
    <div>
        <img height="95" src="images/logo.svg" alt="spotify logo" />
    </div>
    <div>
        <h2>
            Ooops! <%= errorMessage %>
        </h2>
        Something went wrong, please <a class="try-again" href="/">try again</a>.
    </div>
</div>

<%- include("../partials/footer") %>
