<% include ../partials/header %>

<div class="shop-container">
    <div class="shop-container--left">
        <img height="95" src="images/logo.svg" alt="ACMEShopper Logo" />
    </div>

    <div class="shop-container--right">
        <h2 class="shop-container--title">
            Share your social data to get suggestions of items we think you’ll love!
        </h2>

        <p>
            Already have digi.me?
            <br/><br/>
            <a class="cta-button" href="<%= appUrl %>" style="width: 267px">
                Share via digi.me
            </a>
        </p>
        <br/>
        <p>
            Don't have digi.me yet?
            <br/><br/>
            <a class="cta-button cta-button--pink" href="<%= webUrl %>" style="width: 267px">
                Share as guest
            </a>
        </p>
    </div>
</div>

<% include ../partials/footer %>
