<% include ../partials/header %>

<div class="shop-container">
    <div class="shop-container--left">
        <img height="95" src="images/logo.svg" alt="ACMEShopper Logo" />
    </div>

    <div class="shop-container--right">
        <h2 class="shop-container--title">
            Thank you for sharing your data, here is a list of cool products just for you, all 50% off!
        </h2>

        <div class="product-list">
            <div class="product-list--product"><img src="images/product-1.png" alt="Product 1" /></div>
            <div class="product-list--product"><img src="images/product-2.png" alt="Product 2" /></div>
            <div class="product-list--product"><img src="images/product-3.png" alt="Product 3" /></div>
            <div class="product-list--product"><img src="images/product-4.png" alt="Product 4" /></div>
            <div class="product-list--product"><img src="images/product-5.png" alt="Product 5" /></div>
            <div class="product-list--product"><img src="images/product-6.png" alt="Product 6" /></div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
