<% include ../partials/header %>

<div class="main-container">
    <div class="consent-text center">
        Something went wrong, please <a class="consent-url" href="/">try again</a>.
    </div>
</div>

<% include ../partials/footer %>