<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <div class="main-container">
            <div class="consent-text">
                <ul>
                    <li>We need your consent to view your data.
                        To do so we use the digi.me private sharing platform to respect and protect your information.</li>
                    <li>Please ensure you have the digi.me client installed on your iOS or Android device. </li>
                    <li>You can find the links <a href="https://digi.me/" target="_blank">here</a></li>
                </ul>
            </div>
            <a class="consent-url" href="<%= url %>">
                <div class="consent-button">Launch consent request</div>
            </a>
        </div>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>